<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #282c34;
    }

    #main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: white;
        padding: 80px 40px 40px 40px;
        background-color: #21252b;
        border-radius: 12px;
        margin: 0 40px;
        width: 100%;
        max-width: 480px;
        word-break: break-word;
        position: relative;
    }

    .logo {
        position: absolute;
        border: 10px solid #282c34;
        top: -70px;
    }

    .logo, .logo > * {
        border-radius: 120px;
    }
</style>
