{{ define "index.tmpl" }}
<html lang="zh">
    <head>
        <title>MiSSO</title>
        {{ template "head.tmpl" }}
        <style>
            a {
                text-decoration: none;
                display: flex;
                flex-grow: 1;
                padding: 8px 24px;
                cursor: pointer;
                border-radius: 8px;
                border: none;
                font-size: 1.2rem;
                justify-content: center;
                transition: background-color .2s;
            }
            a.primary {
                background-color: #62b6e7;
                color: white;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 48 48">
                    <circle fill="#62b6e7" cx="24" cy="24" r="24"></circle>
                    <g transform="translate(9.600000000000001 9.600000000000001) scale(0.6)">
                        <path d="M38,23a1,1,0,0,1-.707-.293l-6-6a1,1,0,0,1,0-1.414l8-8a1,1,0,0,1,1.414,0l6,6a1,1,0,0,1,0,1.414l-2,2a1,1,0,0,1-1.414,0L41,14.414,38.414,17l2.293,2.293a1,1,0,0,1,0,1.414l-2,2A1,1,0,0,1,38,23Z" fill="#eba40a"></path>
                        <path d="M44.061,3.939a1.5,1.5,0,0,0-2.122,0L17.923,27.956a10.027,10.027,0,1,0,2.121,2.121L44.061,6.061A1.5,1.5,0,0,0,44.061,3.939ZM12,43a7,7,0,1,1,4.914-11.978c.011.012.014.027.025.039s.027.014.039.025A6.995,6.995,0,0,1,12,43Z" fill="#ffd764"></path>
                    </g>
                </svg>
            </div>
            <h1>欢迎来到 MiSSO</h1>
            <p>
                直接访问这里好像不太对哦
            </p>
            <p>
                <a class="primary" href="https://docs.nya.one/peripheral/misso/">查看文档</a>
            </p>
        </div>
    </body>
</html>
{{ end }}
